#main_form, .main_form{
  display:flex;
  justify-content: center;
  min-height: 400px;
  align-items:center;
}

fieldset, .main_form fieldset{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  margin:10px;
  padding:10px;
  border: 1px solid #3F7D58;
}

.form_inventario{
  display:flex;
  width:fit-content;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:center;
  gap:40px;
}

.form_tareas{
   display:flex;
   flex-direction:column;
   gap:10px;
   justify-content: center;
   text-align:center;
   align-items:center;

}

.container{
   display:flex;
   flex-direction:row;
   gap:10px;
   justify-content: center;
   text-align:center;
   align-items:center;

}

.drops{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.opciones{
  display:flex;
  flex-direction:column;
  text-align:center;
}

form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
}



input[type="text"], select{
      text-align:center;
      font-size:25px;
}

input[type="radio"]{
      text-align:center;
      align-items:center;

}
form input[type="text"], form input[type="number"],form input[type="date"], form select {
    margin: 10px;
    padding: 7px;
    border-radius: 8px;
    border-style: groove;
    border-color: rgba(0, 0, 0, 0.267);
    width:300px;

}

form select{
  appearance:none;
    -webkit-appearance: none;
	-moz-appearance: none;
}

form input:hover, form select:hover {
    border-color: #01bc61;
    border-style: groove;
}

form input:focus {
    box-shadow: 0 0 5px #01bc61;
    border-color: #01bc61;
    border-style: groove;
  }


button{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    border-color: #01bc61;
    border-style: groove;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: white;
    width:200px;
}

button:hoover{
    background-color: #01bc6217;
    box-shadow: 5px 5px 20px rgba(9, 131, 70, 0.4);
}

form input[type="number"], form input[type="date"]{

    text-align:center;
    justify-content:center;
    font-size:25px;
    width:300px;
    appearance:none;
    -webkit-appearance: none;
	-moz-appearance: none;

}

form input[type="checkbox"] {
    width: auto;
}
.dropdown button{
   width: 400px;
}

span{
  font-size: 20px;
  color: #3F7D58;
  padding: 10px;
}


.dropdown-color{
  background-color: #3F7D58;
  color: white;
}

li{
  text-align: center;
}