
table {
    border-collapse: collapse;
    width: auto;
    overflow:scroll;
    min-width:400px;
    margin: 15px;
}

td, th{
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

th {
background-color: #3f5249;
color: white;
position:sticky;
top:0;

}

td{
  font-size:20px;
  border: 1px solid black;
  color:#999;
}

.left{
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
}

.right{
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;
}