<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <title>ARCASENS</title>
         <link rel="stylesheet" href="/static/style.css"/>
    

    </head>
    <body>
            <header>
                <div class="menu">
                    <a href="/tareas"><img src="/static/imagen/tareas.svg"><span class="texto-hidden">Tareas</span></a>
                    <a href="/inventario"><img src="/static/imagen/inventario.svg"><span class="texto-hidden">Inventario</span></a>
                    <a href="/parcelas"><img src="/static/imagen/parcela.svg"><span class="texto-hidden">Parcelas</span></a>
                    <a href="/equipos"><img src="/static/imagen/tractor.svg"><span class="texto-hidden">Equipos</span></a>
                    <a href="/personal"><img src="/static/imagen/user.svg"><span class="texto-hidden">Personal</span></a>
                    <a href="/infraestructura"><img src="/static/imagen/local.svg"><span class="texto-hidden">infraestructura</span></a>
                </div>
                <a href="/"><img src="/static/imagen/arcasens.jpg"></a>
            </header>
            <div class="main">
                <div class="title">
                    <h1>Mis explotaciones</h1>
                </div>
                <div class="bodysec">
                    {% for valor in datos%}
                    <div class="card_main">
                            <h3>{{valor.nombre}}</h3>
                            <a href="/unidades_gestion/{{valor.nombre}}"><img id="img-card" src="https://cdn.pixabay.com/photo/2017/01/20/15/06/oranges-1995056_640.jpg"></a>
                            <h3>Fecha de apertura de cuaderno: <br> {{valor.fecha}}</h3>
                    </div>
                    {% endfor %}

                </div>
                <footer>
                    <a href="/parcela-explo">
                        <img src="/static/imagen/plus.svg">
                        <span class="texto-hidden">Añadir</span>
                    </a>
                </footer>
            </div>
    </body>
</html>