<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <title>ARCASENS</title>
         <link rel="stylesheet" href="/static/style.css"/>
         <link rel="stylesheet" href="/static/table.css"/>
         <link rel="stylesheet" href="/static/form.css"/>
    

    </head>
    <body>
            <header>
                <div class="menu">
                    <a href="/tareas"><img src="/static/imagen/tareas.svg"><span class="texto-hidden">Tareas</span></a>
                    <a href="/inventario"><img src="/static/imagen/inventario.svg"><span class="texto-hidden">Inventario</span></a>
                    <a href="/parcelas"><img src="/static/imagen/parcela.svg"><span class="texto-hidden">Parcelas</span></a>
                    <a href="/equipos"><img src="/static/imagen/tractor.svg"><span class="texto-hidden">Equipos</span></a>
                    <a href="/personal"><img src="/static/imagen/user.svg"><span class="texto-hidden">Personal</span></a>
                    <a href="/infraestructura"><img src="/static/imagen/local.svg"><span class="texto-hidden">infraestructura</span></a>
                </div>
                <a href="/"><img src="/static/imagen/arcasens.jpg"></a>
            </header>
            <div class="main">
                <div class="title">
                    <h1>Mis Locales</h1>
                </div>
                <div class="bodysec_table">
                    {% if datos %}
                        <table class="info">
                           <tr>
                             <th scope="col" class="left">Tipo de Local</th>
                             <th scope="col">Direccion</th>
                             <th scope="col">Condición</th>
                             <th scope="col">Costo € / mes</th>
                             <th scope="col" class="right">Opciones</th>
                           </tr>
                        {% for x in datos %}
                           <tr>
                             <td>{{x.nombre}}</td>
                             <td>{{x.direccion}}</td>
                             <td>{{x.local}}</td>
                             <td>{{x.costo}}</td>
                             <td><div class="botones">
                              <a href="/eliminar/4/{{x.id}}"><img src="/static/imagen/eliminar.svg"></a>
                              </div>
                              </td>
                           </tr>
                           {% endfor %}
                        </table>
                        {% else %}
                        <h3>No hay datos que mostrar</h3>
                        {% endif %}
                    </div>
                    <footer>
                    <a>
                        <img src="/static/imagen/plus.svg" onclick="form_view()">
                        <span class="texto-hidden">Añadir</span>
                    </a>
                </footer>
            </div>
            <div id="main_form" style="display: none;">
                <form action="/crear_infraestructura" method="post">
                        <fieldset>
                            <span>Tipo de Local:</span>
                            <select name="nombre">
                                <option value="Caseta">Caseta</option>
                                <option value="Invernadero">Invernadero</option>
                                <option value="Almacén">Almacén</option>

                            </select>
                            <span>Dirección:</span><input type="text" name="direccion" size="20" maxlength="40">
                            <span>Tipo de local:</span>
                            <select name="local">
                                <option value="De alquiler">De alquiler</option>
                                <option value="Propio">Propio</option>
                            </select>
                            <span>Costo Mensual (€):</span>
                            <input type="number" name="costo">
                        </fieldset>
                        <button class="boton1" type="submit">Añadir (+)</button>
                </form>
            </div>
            <script src="/static/script.js"></script>
    </body>
</html>