<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <title>ARCASENS</title>
         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='info.css') }}">
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">

    </head>
    <body style="background-color:#C9D6FF">
        <header>
                <a href="/"><img src="{{ url_for('static', filename='imagen/arcasens.jpg') }}"></a>
            </header>
            <div class="menu">
                <a href="/recursos">Ir a Recursos</a>
            </div>
            <div class="main_table">
                    <h1>Mis locales</h1>
                    <div class="bodysec_table">
                        <table class="info">
                           <tr>
                             <th scope="col" class="left">Nombre</th>
                             <th scope="col">Direccion</th>
                             <th scope="col">Poblacion</th>
                             <th scope="col">ciudad</th>
                             <th scope="col">pais</th>
                             <th scope="col">local</th>
                             <th scope="col" class="right">Opciones</th>
                           </tr>
                        {% for x in datos %}
                           <tr>
                             <td>{{x.nombre}}</td>
                             <td>{{x.direccion}}</td>
                             <td>{{x.poblacion}}</td>
                             <td>{{x.ciudad}}</td>
                             <td>{{x.pais}}</td>
                             <td>{{x.local}}</td>
                             <td><div class="botones">
                              <a href="/eliminar/4/{{x.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                              </svg></a>
                              </div>
                              </td>
                           </tr>
                           {% endfor %}
                        </table>
                    </div>
                    <footer><button type="submit" onclick="form_view()" class="boton1">Crear (+)</button></footer>
            </div>
            <div id="main_form" style="display: none;">
                <form action="/crear_infraestructura" method="post">
                        <fieldset>
                            <span>Nombre:</span><input type="text" name="nombre" size="20" maxlength="40">
                            <span>Dirección:</span><input type="text" name="direccion" size="20" maxlength="40">
                            <span>Población:</span><input type="text" name="poblacion" size="20" maxlength="40">
                            <span>Ciudad:</span><input type="text" name="ciudad" size="20" maxlength="40">
                            <span>País:</span><input type="text" name="pais" size="20" maxlength="40">
                            <span>Tipo de local:</span><input type="text" name="local" size="20" maxlength="40">
                        </fieldset>
                        <button class="boton1" type="submit">Añadir (+)</button>
                </form>
            </div>
            <script src="/static/script.js"></script>
    </body>
</html>