<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <title>ARCASENS</title>
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
         <link rel="stylesheet" href="/static/style.css"/>
         <link rel="stylesheet" href="/static/table.css"/>
         <link rel="stylesheet" href="/static/form.css"/>
         <link rel="stylesheet" href="/static/mapa.css"/>
    </head>
    <body>
        <header>
            <div class="menu">
                <a href="/tareas"><img src="/static/imagen/tareas.svg"><span class="texto-hidden">Tareas</span></a>
                <a href="/inventario"><img src="/static/imagen/inventario.svg"><span class="texto-hidden">Inventario</span></a>
                <a href="/parcelas"><img src="/static/imagen/parcela.svg"><span class="texto-hidden">Parcelas</span></a>
                <a href="/equipos"><img src="/static/imagen/tractor.svg"><span class="texto-hidden">Equipos</span></a>
                <a href="/personal"><img src="/static/imagen/user.svg"><span class="texto-hidden">Personal</span></a>
                <a href="/infraestructura"><img src="/static/imagen/local.svg"><span class="texto-hidden">infraestructura</span></a>
            </div>
            <a href="/"><img src="/static/imagen/arcasens.jpg"></a>
        </header>
        <div class="main">
            <div class="title">
                <h1>Mis Parcelas</h1>
            </div>
            <div class="bodysec">
                {% if datos %}
                {% for explotacion in datos %}
                <div class="card_main" id="card_parcela_{{explotacion.id}}">
                    <h3>{{explotacion.nombre}}</h2>
                    <a href="/info_parcela/{{explotacion.id}}"><img id="img-card" src="https://cdn-3.expansion.mx/dims4/default/115fa7d/2147483647/strip/true/crop/1255x836+0+0/resize/1800x1199!/format/webp/quality/80/?url=https%3A%2F%2Fcdn-3.expansion.mx%2Fc2%2Ffc%2F90e67e2e44d898e2958a7a8949bd%2Fterreno.jpg"></a>
                    <div class="botones">
                    <a onclick="editar('entrar', {{explotacion.id}})"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="blue" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg></a>
                    <a href="/eliminar/1/{{explotacion.id}}"><img src="/static/imagen/eliminar.svg"></a>
                </div>
            </div>
                {% endfor %}
                {% else %}
                <h3>No hay datos que mostrar</h3>
                {% endif %}
                {% for x in datos %}
            <div class="main_form" style="display:none;" id="editar_parcela_{{x.id}}">
                <form action="/editar/1/{{x.id}}" method="post">
                    <fieldset>
                       <span>cultivo:</span> <input type="text" value="{{x.especie}}" name="especie">
                       <span>variedad:</span> <input type="text" value="{{x.variedad}}" name="variedad">
                        <span>edad (meses):</span> <input type="text" value="{{x.edad}}" name="edad">
                        <span>estado fenológico:</span> <input type="text" value="{{x.estado}}" name="estado">
                        <span>número de arboles:</span> <input type="text" value="{{x.plantas}}" name="plantas">
                        <span>sistema de siembra:</span> <input type="text" value="{{x.secano}}" name="secano">
                        <span>producción:</span> <input type="text" value="{{x.aire_libre}}" name="aire_libre">
                    </fieldset>
                    <button type="submit" onclick="editar('salir', {{x.id}})" class="boton1">Editar</button>
                </form>
            </div>
            {% endfor %}
        </div>
        <footer id="footer">
                    <a>
                        <img src="/static/imagen/plus.svg" onclick="form_view()">
                        <span class="texto-hidden">Añadir</span>
                    </a>
        </footer>
    </div>
    <div id="main_form" style="display: none;">
        <form action="/crear_parcela" method="post">
            <input type="text" name="nombre" size="35" maxlength="40" placeholder="nombre de la parcela">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle dropdown-color" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">Referencia SigPac
                    </button>
                    <ul class="dropdown-menu p-4">
                        <li><input type="number" name="comunidad" size="20" maxlength="40" placeholder="comunidad" style="float:center"></li>
                        <li><input type="number" name="provincia" size="20" maxlength="40" placeholder="provincia" style="float:center"></li>
                        <li><input type="number" name="municipio" size="20" maxlength="40" placeholder="municipio" style="float:center"></li>
                        <li><input type="number" name="poligono" size="20" maxlength="40" placeholder="número de poligono" style="float:center"></li>
                        <li><input type="number" name="parcela" size="20" maxlength="40" placeholder="número de parcela" style="float:center"></li>
                        <li><input type="number" name="recinto" size="20" maxlength="40" placeholder="número de recinto" style="float:center"></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle dropdown-color" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">Cultivo
                    </button>
                    <ul class="dropdown-menu p-4">
                        <li><input type="text" name="especie" size="20" maxlength="40" placeholder="especie" style="float:center"></li>
                        <li><input type="text" name="variedad" size="20" maxlength="40" placeholder="variedad" style="float:center"></li>
                        <li><input type="number" name="edad" size="20" maxlength="40" placeholder="edad (meses)" style="float:center"></li>
                        <li><input type="text" name="estado" size="20" maxlength="40" placeholder="estado fenológico" style="float:center"></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle dropdown-color" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">Datos agronómicos
                    </button>
                    <ul class="dropdown-menu p-4">
                        <li><input type="number" name="superficie" size="20" maxlength="40" placeholder="superficie cultivada (m2)" style="float:center"></li>
                        <li><input type="number" name="plantas" size="20" maxlength="40" placeholder="número de plantas" style="float:center"></li>
                        <li><select name="secano">
                               <option>sistema de siembra</option>
                               <option value="secano">secano</option>
                               <option value="regadío">regadío</option>
                            </select>
                        </li>
                        <li>
                            <select name="aire_libre">
                               <option>sistema de produccion</option>
                               <option value="aire libre">aire libre</option>
                               <option value="protegido">protegido</option>
                            </select>
                        </li>
                    </ul>
                </div>
            <button class="boton1" type="submit">Crear (+)</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="/static/script.js"></script>
</body>
</html>