<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <title>ARCASENS</title>
         <link rel="stylesheet" href="/static/style.css"/>
         <link rel="stylesheet" href="/static/table.css"/>
         <link rel="stylesheet" href="/static/form.css"/>
    

    </head>
    <body>
            <header>
                <div class="menu">
                    <a href="/tareas"><img src="/static/imagen/tareas.svg"><span class="texto-hidden">Tareas</span></a>
                    <a href="/inventario"><img src="/static/imagen/inventario.svg"><span class="texto-hidden">Inventario</span></a>
                    <a href="/parcelas"><img src="/static/imagen/parcela.svg"><span class="texto-hidden">Parcelas</span></a>
                    <a href="/equipos"><img src="/static/imagen/tractor.svg"><span class="texto-hidden">Equipos</span></a>
                    <a href="/personal"><img src="/static/imagen/user.svg"><span class="texto-hidden">Personal</span></a>
                    <a href="/infraestructura"><img src="/static/imagen/local.svg"><span class="texto-hidden">infraestructura</span></a>
                </div>
                <a href="/"><img src="/static/imagen/arcasens.jpg"></a>
            </header>
            <div class="main">
                <div class="title">
                    <h1>Mis explotaciones</h1>
                </div>
                <div class="bodysec">
                    <form action="/crear_explo" method="POST">
                       Fecha de apertura: <input type="date" name="fecha">
                       <input type="text" name="nombre" placeholder="unidad de gestion">
                        <br><br>
                       {% if datos %}
                       <table class="info2">
                            <tr>
                                <th class="left"></th>
                                <th>parcelas</th>
                                <th class="right">Cultivo</th>
                            </tr>
                            {% for valor in datos%}
                           <tr>
                               <td><input type="checkbox" name="parcela" value="{{valor.id}}"></td>
                               <td>{{valor.nombre}}</td>
                               <td>{{valor.especie}}</td>
                           </tr>
                           {% endfor %}
                       </table>
                       {% endif %}
                       <footer><button type="submit" class="boton1">crear</button></footer>
                   </form>
                </div>
            </div>
    </body>
</html>