<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <title>ARCASENS</title>
         <link rel="stylesheet" href="/static/style.css"/>
         <link rel="stylesheet" href="/static/table.css"/>
         <link rel="stylesheet" href="/static/form.css"/>
    

    </head>
    <body>
            <header>
                <div class="menu">
                    <a href="/tareas"><img src="/static/imagen/tareas.svg"><span class="texto-hidden">Tareas</span></a>
                    <a href="/inventario"><img src="/static/imagen/inventario.svg"><span class="texto-hidden">Inventario</span></a>
                    <a href="/parcelas"><img src="/static/imagen/parcela.svg"><span class="texto-hidden">Parcelas</span></a>
                    <a href="/equipos"><img src="/static/imagen/tractor.svg"><span class="texto-hidden">Equipos</span></a>
                    <a href="/personal"><img src="/static/imagen/user.svg"><span class="texto-hidden">Personal</span></a>
                    <a href="/infraestructura"><img src="/static/imagen/local.svg"><span class="texto-hidden">infraestructura</span></a>
                </div>
                <a href="/"><img src="/static/imagen/arcasens.jpg"></a>
            </header>
            <div class="main">
                <div class="title">
                    <h1>Mi Equipo de trabajo</h1>
                </div>
                <div class="bodysec_table">
                    {% if datos %}
                    <table class="info">
                        <tr>
                            <th scope="col" class="left">Nombre</th>
                            <th scope="col">Nif</th>
                            <th scope="col">Direccion</th>
                            <th scope="col">Movil</th>
                            <th scope="col">Carnet</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Costos / hora</th>
                            <th scope="col" class="right">Opciones</th>
                    </tr>
                        {% for x in datos %}
                    <tr>
                            <td>{{x.nombre}}</td>
                            <td>{{x.nif}}</td>                     
                            <td>{{x.direccion}}</td>
                            <td>{{x.movil}}</td>
                            <td>{{x.carnet}}</td>
                            <td>{{x.rol}}</td>
                            <td>{{x.costo}}</td>
                            <td><div class="botones">
                                <a href="/eliminar/3/{{x.id}}"><img src="/static/imagen/eliminar.svg"></a>
                                </div>
                           </td>
                    </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                    <h3>No hay datos que mostrar</h3>
                    {% endif %}
                </div>
                <footer>
                    <a>
                        <img src="/static/imagen/plus.svg" onclick="form_view()">
                        <span class="texto-hidden">Añadir</span>
                    </a>
                </footer>
            </div>
            
            <div id="main_form" style="display:none;">
                <form action="/crear_personal" method="post">
                        <fieldset>
                            <span>Nombre y apellido: </span><input type="text" name="nombre" size="20" maxlength="40">
                            <span>NIF: </span><input type="text" name="nif" size="20" maxlength="40">
                            <span>Dirección: </span><input type="text" name="direccion" size="20" maxlength="40">
                            <span>Móvil: </span><input type="number" name="movil" size="20" maxlength="40">
                            <span>Tipo de carnet: </span>
                            <select name="carnet">
                                <option value="sin carnet">sin carnet</option>
                                <option value="basico">básico</option>
                                <option value="cualificado">cualificado</option>
                                <option value="fumigador">fumigador</option>
                                <option value="piloto">piloto</option>
                                <option value="aplicador">aplicador</option>
                            </select>
                            <span>Rol: </span><input type="text" name="rol" size="20" maxlength="40">
                            <span>Costo  €/hora: </span><input type="number" name="costo" size="20" maxlength="40">
                        </fieldset>
                        <button class="boton1" type="submit">Crear (+)</button>
                </form>
            </div>
        </div>
        <script src="/static/script.js"></script>
    </body>
</html>