<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <title>ARCASENS</title>
         <link rel="stylesheet" href="/static/style.css"/>
         <link rel="stylesheet" href="/static/table.css"/>
         <link rel="stylesheet" href="/static/form.css"/>
    

    </head>
    <body>
            <header>
                <div class="menu">
                    <a href="/tareas"><img src="/static/imagen/tareas.svg"><span class="texto-hidden">Tareas</span></a>
                    <a href="/inventario"><img src="/static/imagen/inventario.svg"><span class="texto-hidden">Inventario</span></a>
                    <a href="/parcelas"><img src="/static/imagen/parcela.svg"><span class="texto-hidden">Parcelas</span></a>
                    <a href="/equipos"><img src="/static/imagen/tractor.svg"><span class="texto-hidden">Equipos</span></a>
                    <a href="/personal"><img src="/static/imagen/user.svg"><span class="texto-hidden">Personal</span></a>
                    <a href="/infraestructura"><img src="/static/imagen/local.svg"><span class="texto-hidden">infraestructura</span></a>
                </div>
                <a href="/"><img src="/static/imagen/arcasens.jpg"></a>
            </header>
            <div class="main">
                <div class="title">
                    <h1>Tareas</h1>
                </div>
                <div class="bodysec">
                    {% if tareas %}
                {% for valor in tareas%}
                    <div class="cardtareas">
                        <h3>{{valor.tipo_labor}}</h3>
                        <p>
                            {% if valor.tipo_labor=='fertilizacion' %}
                        <span>Tipo de labor: </span> {{valor.fertilizar}}
                        {% endif %}<br>
                        <span>Aplicar a:</span> {{valor.parcela_tratar}}<br>
                        <span>Prioridad: </span> {{valor.prioridad}}<br>
                        <span>equipos a utilizar: </span> {{valor.equipo_tipo}}<br>
                        <span>Personal a realizar la labor: </span> {{valor.personal_nombre}}<br>
                        <span>Productos a emplear: </span> {{valor.productos}}<br>
                        <span>Fecha de realización: </span> {{valor.fecha}}<br>
                        {% if valor.personal.costo and valor.equipos.costo %}
                        <span>Costo de la tarea: </span> {{((valor.personal.costo + valor.equipos.costo) *valor.costo) + valor.inventario.costos.costo*valor.cantidad}} €
                        {% endif %}
                        </p>
                        <div class="card_status">
                            <span>Estado:</span>
                            <button class="boton_status" data-id="{{valor.id}}">Pendiente</button>
                            <a href="/eliminar/6/{{valor.id}}"><img src="/static/imagen/eliminar.svg"></a>
                        </div>
                        

                    </div>
                    {% endfor %}
                    {% else %}
                    <h3>No hay tareas creadas</h3>
                    {% endif %}
                </div>
                <footer>
                    <a>
                        <img src="/static/imagen/plus.svg" onclick="form_view()">
                        <span class="texto-hidden">Añadir</span>
                    </a>
                </footer>
            </div>
            <div id="main_form" style="display: none;">
                <form action="/crear_tarea" class="form_tareas" method="post">
                    <div class="container">
                    <fieldset>
                        <legend>Información de predio</legend>
                        <span>parcelas a tratar:
                           <select name="parcela_tratar">
                               <option>N/A</option>
                               {% for parce in parcelas %}
                               <option value="{{parce.nombre}}">{{parce.nombre}}</option>
                               {% endfor %}
                           </select>
                        </span>
                        <span>unidades de gestión a tratar:
                           <select name="unidades_tratar">
                               <option>N/A</option>
                               {% for parce in datos %}
                               <option value="{{parce.nombre}}">{{parce.nombre}}</option>
                               {% endfor %}
                           </select>
                        </span>
                    </fieldset>
                    <fieldset>
                        <legend>Información de labor</legend>
                        <span>Tipo de labor:
                            <select name="tipo_labor" id="tipo_labor" onchange="tarea(this.value)">
                                <option>seleccionar</option>
                                <option value="Fertilización">Fertilización</option>
                                <option value="Fitosanitarios">Fitosanitarios</option>
                                <option value="Culturales">Labores culturales</option>
                            </select>
                        </span>
                        <span id="labores" style="display:none;">
                            <select name="labores">
                                <option>Labores</option>
                                <option value="injertar">Injertar</option>
                                <option value="prepodar">Prepodar</option>
                                <option value="podar">Podar</option>
                                <option value="despampanar">Despampanar</option>
                                <option value="aclarar">Aclarar</option>
                                <option value="eliminar malas hierbas">Quitar malas hierbas</option>
                                <option value="cosechar">Cosechar</option>
                                <option value="preparar terreno">Preparar terreno</option>
                                <option value="raleo">Raleo</option>
                                <option value="regar">Regar</option>
                            </select>
                        </span>
                        <span id="fertilizar" style="display:none;">
                            <select name="fertilizar">
                                <option>Tipo de fertilización</option>
                                <option value="aplicación de fondo">Fertilización de fondo</option>
                                <option value=" aplicación de cobertera">Fertilización de cobertera</option>
                            </select>
                        </span>
                        <span id="tratar" style="display:none;">
                            <select name="tratar">
                               <option>producto a aplicar</option>
                               <option value="insecticida">Insecticida</option>
                               <option value="fungicida">Fungicida</option>
                               <option value="herbicida">Herbicida</option>
                               <option value="otros">Otros</option>
                            </select>
                        </span>
                        <span>Prioridad:
                           <select name="prioridad">
                              <option>Seleccionar</option>
                              <option value="alta">Alta</option>
                              <option value="baja">Baja</option>
                              <option value="media">Media</option>
                           </select>
                        </span>
                    </fieldset>
                    <fieldset>
                        <legend>Recursos a emplear:</legend>
                        <span>Personal para realizar la labor:
                           <select name="personal">
                              <option>Seleccionar</option>
                              {% for perso in personal%}
                               <option value="{{perso.nombre}}">{{perso.nombre}}</option>
                               {% endfor %}
                           </select>
                        </span>
                        <span>Equipos a utilizar:
                            <select name="equipos">
                                <option>Seleccionar</option>
                                 {% for perso in equipos%}
                                <option value="{{perso.tipo}}">{{perso.tipo}}</option>
                               {% endfor %}
                            </select>
                        </span>
                        <span>productos a emplear:
                            <select name="productos">
                                <option>Seleccionar</option>
                                {% for perso in inventario%}
                                <option value="{{perso.producto}}">{{perso.producto}}</option>
                                {% endfor %}
                            </select>
                        </span>
                        <span>cantidad a emplear:
                            <input type="number" name="cantidad" placeholder="cantidad en Kg">
                        </span>
                        <span>Fecha de realización:
                            <input type="date" name="fecha">
                         </span>
                         <span>Tiempo de ejecución (horas):
                            <input type="number" name="costo" required>
                         </span>
                    </fieldset>
                    </div>
                    <button type="submit" class="boton1">Añadir (+)</button>
                </form>
            </div>
            <script src="/static/script.js"></script>
    </body>
</html>