<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <title>ARCASENS</title>
         <link rel="stylesheet" href="/static/style.css"/>
         <link rel="stylesheet" href="/static/table.css"/>
         <link rel="stylesheet" href="/static/form.css"/>
    </head>
    <body>
        <header>
            <div class="menu">
                <a href="/tareas"><img src="/static/imagen/tareas.svg"><span class="texto-hidden">Tareas</span></a>
                <a href="/inventario"><img src="/static/imagen/inventario.svg"><span class="texto-hidden">Inventario</span></a>
                <a href="/parcelas"><img src="/static/imagen/parcela.svg"><span class="texto-hidden">Parcelas</span></a>
                <a href="/equipos"><img src="/static/imagen/tractor.svg"><span class="texto-hidden">Equipos</span></a>
                <a href="/personal"><img src="/static/imagen/user.svg"><span class="texto-hidden">Personal</span></a>
                <a href="/infraestructura"><img src="/static/imagen/local.svg"><span class="texto-hidden">infraestructura</span></a>
            </div>
            <a href="/"><img src="/static/imagen/arcasens.jpg"></a>
        </header>
        <div class="main">
            <div class="title">
                
                <h1>{{ ug.nombre }}</h1>
                
            </div>
            <div class="bodysec_unidades"> 
                <div class="list">
                    <span>Parcelas Adjuntas:</span>
                    <ul>
                        {% for parcela in parcelas %}
                        <li>{{ parcela.nombre }}</li>
                        {% endfor %}
                    </ul>
                    <span>Fecha de apertura:</span>
                    <h3>{{ ug.fecha }}</h3>
                </div>
                <div class="contenido">
                    <span>tareas realizadas:</span>
                    {% for parcela in parcelas%}
                    {% for faena in parcela.tareas %}
                    <h3>{{ faena.tipo_labor }}</h3>
                    {% endfor %}
                    {% endfor %}
                    
                </div>
                
            </div>
        </div>           
    </body>
</html>
     